.Chart {
  background-color: $white;
  @include border($top: true, $right: true,
    $bottom: true, $left: true,
    $style: dotted, $color: $secondary-color);
}

.ChartInner {
  width: 100%;
  height: 100%;
}

.ChartSelected {
  z-index: 1;
  @include border($top: true, $right: true,
    $bottom: true, $left: true,
    $style: dotted, $color: $orange);
}
