.ScaleSlider {
  @include layout;
  @include border($top: true);
  height: $bottom-info-height;
  width: 220px;
  right: 0;
  bottom: 0;

  .AntSlider {
    margin: 0;
  }
  
  .AntRow {
    height: 100%;
    align-items: center;
  }

  .FitEntireWindow {
    cursor: pointer;
  }
}

:global(.ant-slider-step) {
  background-color: $secondary-color !important;
}

:global(.ant-slider-handle) {
  border-color: $secondary-color !important;
}

:global(.ant-slider-handle:focus) {
  box-shadow: none !important;
}
